[submodule "libs/crow"]
	path = libs/crow
	url = https://github.com/ipkn/crow.git
[submodule "ut/googletest"]
	path = ut/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/leveldb"]
	path = libs/leveldb
	url = https://github.com/google/leveldb.git
[submodule "libs/ed25519-donna"]
	path = libs/ed25519-donna
	url = https://github.com/floodyberry/ed25519-donna.git
[submodule "libs/glog"]
	path = libs/glog
	url = https://github.com/google/glog.git
